*{
    box-sizing: border-box;
    margin: auto;
    padding: 0%;
    font-family: "Montserrat", sans-seerif;
}

body{
    background: ;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*text-shadow: 4px 4px 3px #77f;*/

}

body.h1{
    padding: center;
}
